#power-wrapper {
  width: 76px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 38px;

  .bold-supertext {
    text-align: center;
    position: relative;
    top: -38px;
  }
}

#power-mask {
  overflow: hidden;
  border-radius: 3px;
}

#power-mask, #power-empty {
  position: relative;
}

#power-mask {
  top: -38px;
  left: 8px;
}
