body, html {
    width: 100%;
    height: 100%;
}
.div {
    min-width: 100%;
    min-height: 100px;
    position: relative;
}
.div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.verticalrotate {
    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right, top;
    width:400px;
    height:8px;
    margin-top: 300px;
    margin-left: -150px
}

.green {
    background-color: #00ae3f
}

#top {
    background: #3b435a;
    height: 70px;
    width: 100%;
    
}

#login {
    padding-right: 40px;
    padding-top: 15px
}
#main {
    background: #333a4f;
    height: 100%;
    width: 100%;
    float: left; 
    box-shadow: inset 0 3px 20px;
}

#mission {
    background: url(images/Mission/MissionPhoto.png);
    background-size: cover;
    height: 600px;
    width: 800px;
    margin-top: 100px;
    margin-left: 70px;
    float: left
}

#actionsname {
    margin-top: 15px;
    margin-left: 30px;
    position: absolute

}

#photobutton {
    border: 0;
    background: url(images/Mission/PhotoImageNormal.png);
    width: 36px;
    height: 33px;
    margin-top: 200px;
    margin-left: 30px;
    outline: none
}
    #photobutton:hover {
        background: url(images/Mission/PhotoImageHovered.png);
        outline: none
    }
    #photobutton:active {
        background: url(images/Mission/PhotoImagePressed.png);
        outline: none
    }

#map {
    background: url(images/Mission/Map.png);
    width: 128px;
    height: 128px;
    margin-top: -120px;
    margin-left: 640px;
    float: left
}
#pointer {
    width: 26px;
    height: 31px;
    margin-top: 50px;
    margin-left: 60px;
    transform: rotate(-100deg);
}

#fullscreenbutton {
    border: 0;
    background: url(images/Mission/FullscreenNormal.png);
    width: 24px;
    height: 24px;
    position: relative;
    left: 95px;
    bottom: 70px;
    outline: none
}

    #fullscreenbutton:hover {
        background: url(images/Mission/FullscreenHovered.png);
        outline: none
    }

    #fullscreenbutton:active {
        background: url(images/Mission/FullscreenPressed.png);
        outline: none
    }