#video-wrapper {
  width: 100%;
  height: 532px;
  float: left;
  box-shadow: var(--panel-shadow);

  #video-stream {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #video-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;

    #video-overlay-left-col, #video-overlay-right-col {
      width: 50%;
      height: 100%;
      float: left;
    }
  }
}
