<div id="video-wrapper">
<!--  <img src="http://{{this.rosConnection.publicIP}}:11315/stream?topic=/camera/rgb/image_raw" style="width: 600px; height: 400px; display: block">-->
  <img id="video-stream" src="https://img5.goodfon.com/wallpaper/nbig/5/be/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-retr-4.jpg">
  <div id="video-overlay">
    <div id="video-overlay-left-col">
      <app-overlay-panel></app-overlay-panel>
    </div>
    <div id="video-overlay-right-col">
    </div>
  </div>
</div>
