<h1>Available actions</h1>

<div class="play-container">                       <!--Получение фото с дрона-->
  <p>Photo from the drone.</p>
  <span (click)="photoClick()">Get photo</span>
  <p></p>
  <div class="">
    <ng-template [ngIf]="PhotoCounter > 0">
      {{ PhotoText }}{{ PhotoCounter }}
    </ng-template>

   </div>
</div>


<div class="play-container">                       <!--Получение видео с дрона-->
  <p>Video from the drone.</p>
  <span (click)="videoClick()">Get video</span>
  <p></p>
  <div class="">
    <ng-template [ngIf]="VideoCounter > 0">
      {{ VideoText }}{{ VideoCounter }}
    </ng-template>

   </div>
</div>


<div class="play-container">                         <!--Закрыть/открыть крышу-->

  <ng-template [ngIf]="IsOpen" [ngIfElse]="none">
    <p>Close roof.</p>
    <span (click)="roofClick()">Close</span>
    <p></p>
  </ng-template>

  <ng-template #none>
    <p>Open roof.</p>
    <span (click)="roofClick()">Open</span>
    <p></p>
  </ng-template>
</div>
